/* Colors */
html {
  font-size: 10px;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.main {
  background: url('../img/bg.jpg') center center no-repeat;
  min-height: 74rem;
}
.header {
  text-transform: uppercase;
  text-align: center;
  color: #0bbaf0;
}
.header h1 {
  margin: 7rem 0 0 0;
  padding: 0;
  font-size: 4rem;
  font-weight: bold;
}
.header p {
  font-size: 3rem;
  margin: 0;
}
.header p::after {
  content: '';
  display: block;
  vertical-align: top;
  width: 130px;
  border-bottom: 1px solid #cbcdce;
  margin: 1.5rem auto 3rem;
}
.questions {
  margin: 0 auto;
}
.questions .mb-0 {
  text-align: center;
}
.questions .card-body {
  color: #535353;
  text-align: left;
  font-size: 2.4rem;
  padding: 1rem 2.5rem 3rem;
  margin: 0 0.5rem;
  background-color: #ffffff;
  border: 4px solid #cbcdce;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  line-height: 1.2;
}
.questions .card {
  border: none;
  background-color: inherit;
}
.questions .card-header {
  background-color: #0bbaf0;
  margin-top: 0.3rem;
  border-bottom: none;
}
.questions .card-header .btn-link {
  padding: 0;
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
}
.questions .card-header .btn-link:hover,
.questions .card-header .btn-link:focus {
  text-decoration: none;
}
.fill-bg {
  position: absolute;
  background-color: #0bbaf0;
  width: 100%;
  height: 100vh;
  border-top: 5px solid #cbcdce;
}
.fill-bg p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 18rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
/* Media */
@media (max-width: 1199px) {
  .questions .card-header .btn-link {
    font-size: 1.6rem;
  }
}
@media (max-width: 991px) {
  .questions .card-header .btn-link {
    font-size: 1.2rem;
  }
  .questions .card-body {
    font-size: 2rem;
  }
  .fill-bg p {
    font-size: 16rem;
  }
}
@media (max-width: 575px) {
  .questions .card-header .btn-link {
    font-size: 0.85rem;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .header p {
    font-size: 1.5rem;
  }
  .fill-bg p {
    font-size: 10rem;
  }
}
