body {
	font-size: 52px;
	background-color: #EBCC62;
}

.field {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 520px;
  height: 520px;
  padding: 10px;
  border-radius: 10px;
  background-color: #A39383;
}

.row {
  width: 520px;
  height: 130px;
}

.cell {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 110px;
  margin: 5px;
  width: 120px;
  height: 120px;
  border-radius: 6px;
	background-color: #BFAFA0;
	color: #FFF4DF;
}

.n-2 {
	background-color: #EEE4DA;
	color: #7C7061;
}

.n-4 {
	background-color: #EEE1D0;
	color: #7C7061;
}

.n-8 {
	background-color: #FEAF71;
}

.n-16 {
	background-color: #F9945B;
}

.n-32 {
	background-color: #FD795C;
}

.n-64 {
	background-color: #F45E3E;
}

.n-128 {
	background-color: #EFCE6F;
}

.n-256 {
	background-color: #EFCC5D;
}

.n-512 {
	background-color: #ECC84D;
}

.n-1024 {
	background-color: #ECC736;
}

.n-2048 {
	background-color: #EEC132;
}